@page
@model ResumeModel

<section>
    <h2>EDUCATION</h2>
    <ul>
        <li>
            <strong>Saint Mary's College of California</strong>, BA in English & BS in Computer Science (GPA: 3.7)
            <ul>
                <li>Graduation Date: May 2024</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>WORK EXPERIENCE</h2>
    <ul>
        <li>
            <strong>Center for Writing Across the Curriculum</strong>, Writing and Communications Tutor
            <ul>
                <li>December 2022 - Present</li>
                <li>
                    Dedicated over 90 hours towards improving the writing and communication qualities of students through
                    advising, deconstructing, and discussing their assignments for both STEM and Liberal Arts courses.
                </li>
            </ul>
        </li>
        <li>
            <strong>Saint Mary's College of California</strong>, Computer Science Teaching Assistant
            <ul>
                <li>January 2023 - January 2023</li>
                <li>
                    Provided personalized guidance to each student on their coding projects, increasing confidence levels and
                    proficiency in game design and programming.
                </li>
                <li>
                    Facilitated hands-on learning experiences, resulting in a 100% completion rate and a personal satisfaction rating
                    of 100% from the instructor.
                </li>
            </ul>
        </li>
        <li>
            <strong>Barnes & Noble, Edu.</strong>, Book Seller
            <ul>
                <li>August 2021 - December 2022</li>
                <li>
                    Streamlined the inventory management process by accurately stocking and utilizing my expertise in online selling
                    to consistently process 50+ online orders each shift.
                </li>
                <li>
                    Constructed TikTok account, gaining a total of 12,800 page views, increasing customer engagement by 90%.
                </li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>PROJECT EXPERIENCE</h2>
    <ul>
        <li>
            <strong>The RILEY Project </strong>, Graphic Design Intern
            <ul>
                <li>June 2022 - December 2022</li>
                <li>
                    Provided social media consulting, resulting in a 400% increase in web page views and in 300 new followers
                </li>
                <li>
                    Created 20+ unique and visually appealing logos and headers for the non-profit founder, which aided in the 
development of the start-up's brand guide.
                </li>
            </ul>
        </li>
        <li>
            <strong>We Care Children's Services</strong>, Technical Writer Volunteer
            <ul>
                <li>February 2021 - May 2021</li>
                <li>
                    Developed detailed user personas for the company's target audience, and tailored outreach efforts to improve user
                    retention
                </li>
                <li>
                    Collaborated with the Director of Community Engagement to write a play, showcasing the nonprofit's mission.
                </li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>LEADERSHIP EXPERIENCE</h2>
    <ul>
        <li>
            <strong>The English Underground </strong>, Founder
            <ul>
                <li>August 2022 - Present</li>
                <li>
                    Organized and executed 15 on-campus events, including collaborations, increasing student engagement.
                </li>
                <li>
                    Created and maintained social media accounts with over 300 total followers.
                </li>
                <li>
                    Worked with school department heads to design and execute promotional materials for departmental events.
                </li>
            </ul>
        </li>
        <li>
            <strong>The Tech Club</strong>, Vice President
            <ul>
                <li>August 2022 - Present</li>
                <li>
                    Led the planning and execution of 10+ successful events, including guest speaker presentations and workshops.
                </li>
             
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>SKILLS & KNOWLEDGE</h2>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Writing</li>
                <li>Social media management</li>
                <li>Python</li>
                <li>C#</li>
                <li>Graphic Design</li>
                <li>User Personas</li>
                <li>Google Certified UX</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Research</li>
                <li>Algorithms</li>
                <li>Creativity skills</li>
                <li>Presentation skills</li>
                <li>Google suit</li>
                <li>Adobe suit</li>
                <li>Mac platforms</li>
                <li>Figma</li>
                <li>Canva</li>
                <li>Notion</li>
            </ul>
        </div>
    </div>

</section>